.products-container{
    display: flex;
    flex-direction: column;
}

.products-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 75px;
    height: 750px;

}

.product-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    width: 10%;
    height: 30%;
    border: 1px solid black;
    padding: 5px;
    margin: 25px;
}

.products-container h2{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px;
    -webkit-text-stroke: 2px black;
    border-bottom: 2px solid black;
}
